beautifulsoup4==4.9.3
beepy==1.0.7
cachetools==4.2.2
certifi==2021.5.30
charset-normalizer==2.0.4
cssselect==1.1.0
cssutils==2.3.0
idna==3.2
importlib-metadata==4.8.1
keyring==23.1.0
lxml==4.6.5
premailer==3.10.0
PySocks==1.7.1
pywin32-ctypes==0.2.0
requests==2.26.0
simpleaudio==1.0.4
snscrape==0.3.4
soupsieve==2.2.1
urllib3==1.26.6
yagmail==0.14.260
zipp==3.5.0
